/* Coolors Exported Palette - https://coolors.co/3bb0cd-172a3a-3c896d-eef4d4-daefb3 */

/* CSS HEX */
--pacific-cyan: #3bb0cdff;
--prussian-blue: #172a3aff;
--viridian: #3c896dff;
--beige: #eef4d4ff;
--tea-green: #daefb3ff;

/* CSS HSL */
--pacific-cyan: hsla(192, 59%, 52%, 1);
--prussian-blue: hsla(207, 43%, 16%, 1);
--viridian: hsla(158, 39%, 39%, 1);
--beige: hsla(71, 59%, 89%, 1);
--tea-green: hsla(81, 65%, 82%, 1);

/* SCSS HEX */
$pacific-cyan: #3bb0cdff;
$prussian-blue: #172a3aff;
$viridian: #3c896dff;
$beige: #eef4d4ff;
$tea-green: #daefb3ff;

/* SCSS HSL */
$pacific-cyan: hsla(192, 59%, 52%, 1);
$prussian-blue: hsla(207, 43%, 16%, 1);
$viridian: hsla(158, 39%, 39%, 1);
$beige: hsla(71, 59%, 89%, 1);
$tea-green: hsla(81, 65%, 82%, 1);

/* SCSS RGB */
$pacific-cyan: rgba(59, 176, 205, 1);
$prussian-blue: rgba(23, 42, 58, 1);
$viridian: rgba(60, 137, 109, 1);
$beige: rgba(238, 244, 212, 1);
$tea-green: rgba(218, 239, 179, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-right: linear-gradient(90deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-bottom: linear-gradient(180deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-left: linear-gradient(270deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-top-right: linear-gradient(45deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-bottom-right: linear-gradient(135deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-top-left: linear-gradient(225deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-bottom-left: linear-gradient(315deg, #3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);
$gradient-radial: radial-gradient(#3bb0cdff, #172a3aff, #3c896dff, #eef4d4ff, #daefb3ff);